// Variables
$font-stack:    Helvetica, sans-serif
$primary-color: #f63
$ancho: 1000px

// Estructura

// body
// 	background: #eee
// 	color: $primary-color

section 
	width: auto;
	max-width: $ancho
	margin: 0 auto
	min-height: 100vh