// Variables
$font-stack:    Helvetica, sans-serif
$primary-color: rgba(#e96d28, 0.92)
$ancho: 1000px

// Estructura

body
	background: url(img/fondo-otono.gif) center center no-repeat
	background-attachment: fixed
	background-size: cover
	color: $primary-color

section
	width: auto
	margin: 0 auto
	padding: 0
	min-height: 100vh
	box-shadow: 0 5px 15px rgba(0,0,0,.5)
	overflow: hidden

.frame
	background-attachment: fixed
	background-size: 50%
	background-repeat: no-repeat
	width: 50%
	float: left
	height: 100vh

.criss
	background-image: url(img/criss.gif)
	background-position: 25% center
	left: 0
.criss2
	background-image: url(img/criss2.gif)
	background-position: 25% center
	left: 0
.tom
	background-image: url(img/tom.gif)
	background-position: 75% center
	right: 0
.tom2
	background-image: url(img/tom2.gif)
	background-position: 75% center
	right: 0
