<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>2016 2017</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src='libs.js'></script>
        <link rel="stylesheet" href="libs.css">
        <link rel="stylesheet" href="styles.css">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Secciones principales -->
        <section id="home">
          <div class="frame criss"></div>
          <div class="frame tom"></div>
        </section>

        <section id="historia">
          <div class="frame criss2"></div>
          <div class="frame tom2"></div>
        </section>

        <section id="invitado">3</section>

        <section id="informacion">4</section>

        <section id="contacto">5</section>

        <!-- Secciones auxiliares -->
    		<section id="musica">6</section>
    
    		<section id="confirmar">7</section>
    
    		<section id="admin">8</section>

        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" />
        <script>window.jQuery || document.write("<script src='../app/js/libs/jquery-1.11.1.min.js' />")</script> -->

        <script src="/scripts.js"></script>

    </body>
</html>
