<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>2016 2017</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src='libs.js'></script>
        <link rel="stylesheet" href="libs.css">
        <link rel="stylesheet" href="styles.css">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->



        <!-- Secciones principales -->
        <section id="home"><h1>Test</h1></section>

        <section id="historia">
        	<a href="#" class="btn smooth">Boton</a>
        	<a href="#" class="btn btn-r smooth">Boton a</a>
        	<a href="#" class="btn btn-n smooth">Boton b</a>
        	<a href="#" class="btn btn-v smooth">Boton c</a>
        </section>

        <section id="invitado">
        	
        </section>

        <section id="informacion"></section>

        <section id="contacto"></section>

        <!-- Secciones auxiliares -->
		<section id="musica"></section>

		<section id="confirmar"></section>

		<section id="admin"></section>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" />
        <script>window.jQuery || document.write("<script src='js/libs/jquery-1.11.1.min.js' />")</script>

    </body>
</html>